$c-yellowDark:#c6a15b;
$c-blue:#008fe5;
$c-greenishBlue:#a6ced0;

$c-black:#000000;
$c-blackLight:#898989;

$c-grayDark:#959595;
$c-gray:#d1d1d1;
$c-grayLight:#d9d9d9;

$c-white:#ffffff;
$c-whiteGray:#f8f8f8;
$c-whiteSmoky:#f1f1f1;


