/*@import "custom";
@import "font";
@import "multiline";*/
@import "color";
@import "grid";
@import "font";
@import "helper";
@import "element/typography";
@import "element/button";
@import "element/dropdown";
@import "element/nav";

@import "section/header";
@import "section/section_1";
@import "section/section_2";
@import "section/section_3";
@import "section/section_4";
@import "section/section_5";
@import "section/section_6";
@import "section/section_7";
@import "section/nav_page";
@import "section/footer";

body {
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}




















