@import "../color";

body {
  font-family: 'Roboto', sans-serif;
  color: $c-blackLight;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  color: $c-black;
  line-height: 1;
}

h1, .h1 {
  margin: 0;
  font-family: 'Abril Fatface', cursive;
  font-size: 80px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 4px;
  line-height: normal;
  color: $c-black;
}

h2, .h2 {
  margin: 0;
  font-family: "MyriadPro", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  line-height: normal;
}

h3, .h3 {
  margin: 0;
  font-family: 'Aleo', serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.6px;
}

h4, .h4 {
  margin: 0;

  font-family: 'Aleo', serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.45px;
  line-height: normal;
}


.caption {
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.4px;
  line-height: normal;
}

.h-section {
  font-family: 'Abril Fatface', cursive;
  color: $c-black;
  line-height: 1.2;
  letter-spacing: 1px;

  span {
    display: block;
    padding-left: 32px;
  }
}

.link {
  color: $c-grayDark;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  text-align: left;
}

p {
  margin: 0;
}

a {
  text-decoration: unset;
  transition: opacity ease .2s;

  &:visited {
    color: inherit;
  }

  &:hover {
    opacity: .7;
  }
}

.logo {
  color: $c-black;
  font-family: "MyriadPro", sans-serif;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1.8px;
  line-height: 48px;
  text-transform: uppercase;
}