@import "../color";
.section-7 {

  .content-box {
    grid-column-start: 2;
    padding: 0 70px 0 15px;
    text-align: center;
    display: flex;
    align-items: center;

    h2 {
      margin-bottom: 16px;
    }

    p {
      padding: 0 30px;
      margin-bottom: 26px;
    }
  }

  @media(min-width: 992px) {

    display: grid;
    grid-template: 1fr  / auto 500px 700px auto;
    .content-box {
      grid-column-start: 2;
    }
  }

  .content-img-box {
    grid-column: 3 / span 2;
    background: $c-gray url("../img/s7_pic.png") no-repeat;
    min-height: 650px;
  }

  @media(max-width: 991px) {
    position: relative;
    .content-box {
      padding: 0;

      position: absolute;
      z-index: 10;
      height: 100%;
      display: flex;

      .content {
        padding: 50px;
        background-color: rgba(255, 255, 255, 0.8);;
        margin: 0 60px;
      }

    }
    .content-img-box {

    }
  }

  @media(max-width: 575px) {
    .content-box {
      .content {
        padding: 50px 30px;

        h2 {
          padding: 0 15px;
        }
      }

    }
  }
  @media(max-width: 400px) {
    .content-box {
      .content {
        padding: 50px 0;
        margin: 0 5%;
      }

    }
  }


}
